
 <br>
<div class="container">
<div class="form-group" *ngIf="!deleted">

    <h1>Delete Contact</h1>
<form [formGroup]="deleteForm" (ngSubmit)="deleteContact()">

    <div>
        <label for="id">id</label>
        <div>
            <input class="form-control" type="number" id="id" [formControlName]="'id'" name="id" required
                autofocus>
        </div>
    </div>
    <br>
    <span>
        <button class="btn btn-primary" type="submit">
            Delete
        </button>
    </span>            
</form>
</div>
<div *ngIf="deleted">
   
    <nz-result
      nzStatus="success"
      nzTitle="Successfully Deleted"
    >
    <div nz-result-extra>
        <button type="button" class="btn btn-primary"><a  class="link-light" [routerLink]="['/getResults']">Back</a></button>
      
      </div>
      
    </nz-result>

</div>
</div>
