
<form [formGroup]="getresultsForm" (ngSubmit)="getResults()">

    <div>
        <label for="id">id</label>
        <div>
            <input type="number" id="id" [formControlName]="'id'" name="id" required
                autofocus>
        </div>
    </div>

    <span>
        <button class="btn btn-primary" type="submit">
            GetResults
        </button>
    </span>            
</form>


<ng-container *ngIf="updatePressed">


    <table width="100%" class="table">
        <thead class="table-dark">
        <tr>
            <th>Fullname</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>CompanyName</th>
        </tr>
    </thead>
        <tr *ngFor="let contact of contacts">
            <td >{{contact.fullName}}</td>
            <td >{{contact.email}}</td>
            <td >{{contact.phoneNumber}}</td>
            <td >{{contact.companyName}}</td>
            
        </tr>
       
    
    
    </table>
    </ng-container>