<form [formGroup]="singleForm" (ngSubmit)="getSingle()">

    <div>
        <label for="id">Id</label>
        <div>
            <input type="number" id="id" [formControlName]="'id'" name="id" required
                autofocus>
        </div>
    </div>

    <span>
        <button type="submit">
            Update
        </button>
    </span>            
</form>


{{contact.firstName}} {{contact.lastName}} {{contact.dateOfCreation}} {{contact.dateOfLastModification}} {{contact.email}} {{contact.phonenumber}} 
{{contact.companyName}}

    