<ng-container *ngIf="updatePressed">


    <table width="100%" class="table table-success table-striped table-hover">
        <tr>
            <th>LastName</th>
            <th>FirstName</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>CompanyName</th>
            <th>Update</th>
            <th>Delete</th>
    
        </tr>
        <tr>
            <td>{{contact?.lastName}}</td>
            <td>{{contact?.firstName}}</td>
            <td>{{contact?.email}} </td>
            <td>{{contact?.phoneNumber}} </td>
            <td>{{contact?.companyName}}</td>
            <td><a class="nav-link" [routerLink]="['/update',contact?.id]">Update</a></td>
            <td><a class="nav-link" [routerLink]="['/delete',contact?.id]">Delete</a></td>
        </tr>
       
    
    
    </table>
    </ng-container>
    
<div class="container">
    <div class ="form-group" >
    <form [formGroup]="singleForm" (ngSubmit)="getSingle()">
    
        <div>
            <label for="id">id</label>
            <div>
                <input class="form-control" type="number" id="id" [formControlName]="'id'" name="id" required
                    autofocus>
            </div>
        </div>
        <br>
        <span>
            <button class="btn btn-primary" type="submit">
                GetSingle
            </button>
        </span>            
    </form>
    </div>
</div>


