.form-center {
    display:flex;
    justify-content: center;
  }


  



.update{
    background-color: #20dd49;
}
.button{
    background-color: #f44336;
}
.button2{
    background-color: #7c7dd6;
}


a:link, a:visited {
    
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }
